@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-gradient-to-l from-blue-300 to-gray-400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-details{
    color: grey;
    font-size: small;
  }
  .text-value{
    @apply text-black ;
    @apply font-bold;
    @apply text-right;
  }
  .card-bg{
    background-color:rgb(235, 235, 235);
    
  }
}
